# Directories
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
build/
dist/
*.egg-info/
releases/

# Data files
data/config/*
!data/config/.gitkeep
data/database/*
!data/database/.gitkeep

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Environment
.env
.env.local

# Build files
*.spec
file_version_info.txt
*.iss
*.dmg

# Project files
models/
images/
installer/
